* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background: #363435;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: relative;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    background-color: #fff;
    background-image: linear-gradient(to top, #FEFEFE 0%, #ED3336 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
}

#navbar-logo-icon {
    height: 55px;
    padding-right: 10px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
}

.modal-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

#call-image {
    width: 25px;
    height: 25px;
}

.modal {
    position: fixed;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #363435;
    border-radius: 10px;
    z-index: 10;
    background-color: #363435;
    color: #FEFEFE;
    width: 380px;
    height: 200px;
    max-width: 80%;
    max-height: 60%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #272727;
    width: 90%;
    height: 50%;
    margin-left: 5%;
}

.modal-title {
    font-size: 2rem;
    font-weight: 400;
    /* background-color: cadetblue; */
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #FEFEFE;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    right: 5%;
    align-items: flex-start;
}

.modal-body {
    padding: 10px 15px;
    height: 50%;
    display: flex;
    align-items: center;
}

.modal-body a {
    text-decoration: none;
    color: cadetblue;
    padding: 1rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.navbar-toggle {
    position: absolute;
}

@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
  
    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 38vh;
        z-index: -1;
    }
  
    .navbar-menu.active {
        background: #272727;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 38vh;
        font-size: 1.25rem;
        align-items: baseline;
        text-align: left;
        float: left;
    }
  
    #navbar-logo {
        margin-left: 28vw;
        background-color: cadetblue;
        justify-content: center;
    }

    #call {
        padding-right: 5%;
    }
  
    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
  
    .navbar-item {
        width: 100%;
    }
  
    .navbar-links {
        justify-content: center;
        text-align: center;
        padding: 2rem;
        width: 80%;
        margin: 0 10%;
        display: table;
        border-bottom: 1px solid #aeaeae;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      left: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar-toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

.main {
    height: 72vh;;
}

.footer {
    background: #363435;
    color: #fff;
    padding: 50px 0 30px 0;
    font-size: .9rem;
}

.footer-container {
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

.footer-logo {
    flex: 0 0 35%;
    max-width: 35%;
}

#footer-logo-icon {
    height: 180px;
}

.footer-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-nav-container {
    flex: 0 0 40%;
    max-width: 40%;
}

.footer-nav a {
    color: #fff;
    float: left;
    width: 33.33333%;
    display: block;
    font-size: 1.25rem;
    padding: 0 0 10px 0;
    text-decoration: underline;
    /* background-color: cadetblue; */
}

.footer-info {
    text-align: right;
    float: right;
    flex: 0 0 25%;
    max-width: 25%;
}

.second {
    margin-top: 3rem !important;
}

.link {
    text-decoration: none;
    color: #3399ff;
}

@media screen and (max-width: 960px) {
    .footer-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo {
        flex: content;
        max-width: fit-content;
        justify-content: center;
        align-items: center;
    }

    .footer-nav-container {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-nav {
        float: left;
        margin: 20px 0 30px 0;
    }

    .footer-nav a {
        float: left;
        width: 100%;
    }

    .footer-info {
        text-align: left;
        float: left;
        flex: content;
        max-width: fit-content;
    }
}